.chatbox_bttn {
  position: relative;
  bottom: -33em;
  right: -18rem;
  border: grey 1px solid;
  border-radius: 60%;
  float: right;
  background-color: white;
  transform: scale(0.09 );
  filter: drop-shadow(0 0 2rem black);
}

.chatbox_bttn img {
  position: relative;
  margin: auto;
  padding: 0.5em;
}

.background_img{
  position: fixed;
  z-index: -2;
}

.container{
  display: none;
  flex-direction: column;
  border: 1px grey solid;
  border-radius: 1rem;
  width: 20rem;
  background-color: white;
  height: 80%;
  transform: scale(0.7);
  position: fixed;
  bottom: 0.05em;
  right: 2rem;
}

.chat_header{
  border: black 1px solid;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: darkgray;
  height: 60px;
}

.chat_header_p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px; 
  color: aliceblue;
  position: relative;
  bottom: 40%;
  left: 10%;
}

.chat_header_img{
  width: 3rem;
  float: left;
}

.user_input{
  font-family: 'Ubuntu', sans-serif;  

  width: 19.75rem;
  position: fixed;
  
  height: 10%;
  border-bottom-left-radius: 1rem; 
  border-bottom-right-radius: 1rem;
  font-size: 16px;
}

.messages{
  font-family: 'Ubuntu', sans-serif;  
  font-size: 20px;
  background: grey;
  height: 80%;
  overflow: scroll;
}
